In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
DATA_PATH = '../dados/processados/etnias_por_estado.csv'
df = pd.read_csv(DATA_PATH, index_col=0)
df = df.reset_index(drop=True)
df = df.drop('CASOS', axis=1)
df

    SG_UF_NOT  CS_RACA       TAXA
0          TO    parda  28.673211
1          TO  amarela  15.721293
2          TO   branca  11.036678
3          TO    preta   4.146166
4          SP    preta  92.733984
..        ...      ...        ...
122        AL   branca   5.774906
123        AC  amarela  55.900274
124        AC    parda  15.374332
125        AC   branca   6.237675
126        AC    preta   3.922799

[127 rows x 3 columns]

Usando scikitlearn

In [13]:
X = pd.get_dummies(data=df['CS_RACA'], drop_first=True)
Y = df['TAXA']

In [29]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .20)
regr = linear_model.LinearRegression() # Do not use fit_intercept = False if you have removed 1 column after dummy encoding
regr.fit(X_train, Y_train)
predicted1 = regr.predict(X_test)

In [27]:
from sklearn.svm import SVR
svr_regr = SVR()
regr.fit(X_train, Y_train)
predicted2 = regr.predict(X_test)

In [26]:
import sklearn.metrics as metrics
def regression_results(y_true, y_pred):

    # Regression metrics
    explained_variance=metrics.explained_variance_score(y_true, y_pred)
    mean_absolute_error=metrics.mean_absolute_error(y_true, y_pred) 
    mse=metrics.mean_squared_error(y_true, y_pred) 
    mean_squared_log_error=metrics.mean_squared_log_error(y_true, y_pred)
    median_absolute_error=metrics.median_absolute_error(y_true, y_pred)
    r2=metrics.r2_score(y_true, y_pred)

    print('explained_variance: ', round(explained_variance,4))    
    print('mean_squared_log_error: ', round(mean_squared_log_error,4))
    print('r2: ', round(r2,4))
    print('MAE: ', round(mean_absolute_error,4))
    print('MSE: ', round(mse,4))
    print('RMSE: ', round(np.sqrt(mse),4))

explained_variance:  0.0254
mean_squared_log_error:  0.8656
r2:  -0.0736
MAE:  18.4633
MSE:  507.7863
RMSE:  22.5341

In [30]:
regression_results(Y_test, predicted1)
regression_results(Y_test, predicted2)

explained_variance:  -0.042
mean_squared_log_error:  0.7803
r2:  -0.042
MAE:  21.9033
MSE:  1015.5122
RMSE:  31.8671
explained_variance:  -0.0099
mean_squared_log_error:  0.7411
r2:  -0.0103
MAE:  19.9311
MSE:  984.5962
RMSE:  31.3783

In [25]:
from statsmodels.formula.api import ols

fit = ols('TAXA ~ C(CS_RACA)', data=df).fit() 

fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   TAXA   R-squared:                       0.106
Model:                            OLS   Adj. R-squared:                  0.077
Method:                 Least Squares   F-statistic:                     3.611
Date:                Sun, 20 Dec 2020   Prob (F-statistic):            0.00809
Time:                        16:22:20   Log-Likelihood:                -584.36
No. Observations:                 127   AIC:                             1179.
Df Residuals:                     122   BIC:                             1193.
Df Model:                           4
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 41.5754      4.918      8.453      0.000      31.839      51.312
C(CS_RACA)[T.branca]     -22.5099      6.826     -3.298      0.001     -36.022      -8.998
C(CS_RACA)[T.indigena]   -10.6928      7.279     -1.469      0.144     -25.103       3.717
C(CS_RACA)[T.parda]       -8.7458      6.826     -1.281      0.203     -22.258       4.766
C(CS_RACA)[T.preta]      -20.3953      6.826     -2.988      0.003     -33.907      -6.883
==============================================================================
Omnibus:                       48.296   Durbin-Watson:                   0.969
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              108.820
Skew:                           1.579   Prob(JB):                     2.34e-24
Kurtosis:                       6.254   Cond. No.                         5.88
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [33]:
DATA_PATH = '../dados/processados/escolaridade_estados.csv'
df = pd.read_csv(DATA_PATH, index_col=0)
df = df.reset_index(drop=True)
df

    CS_ESCOL_N SG_UF_NOT   qtd        taxa
0         fund        AC    15    5.813953
1         fund        AL    19    1.597981
2         fund        AM  1299  118.956044
3         fund        AP    23   11.057692
4         fund        BA   165    3.270565
..         ...       ...   ...         ...
103        sup        RS   168    8.175182
104        sup        SC   111    8.624709
105        sup        SE    19    7.037037
106        sup        SP  2943   30.200103
107        sup        TO    46   23.000000

[108 rows x 4 columns]

In [34]:
from statsmodels.formula.api import ols

fit = ols('taxa ~ C(CS_ESCOL_N)', data=df).fit() 

fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   taxa   R-squared:                       0.025
Model:                            OLS   Adj. R-squared:                 -0.004
Method:                 Least Squares   F-statistic:                    0.8746
Date:                Sun, 20 Dec 2020   Prob (F-statistic):              0.457
Time:                        17:58:32   Log-Likelihood:                -536.86
No. Observations:                 108   AIC:                             1082.
Df Residuals:                     104   BIC:                             1092.
Df Model:                           3
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               19.5785      6.841      2.862      0.005       6.013      33.144
C(CS_ESCOL_N)[T.med]    -0.3915      9.675     -0.040      0.968     -19.577      18.794
C(CS_ESCOL_N)[T.sem]    13.1845      9.675      1.363      0.176      -6.001      32.370
C(CS_ESCOL_N)[T.sup]     2.1479      9.675      0.222      0.825     -17.037      21.333
==============================================================================
Omnibus:                      131.723   Durbin-Watson:                   2.231
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3022.318
Skew:                           4.255   Prob(JB):                         0.00
Kurtosis:                      27.479   Cond. No.                         4.79
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""